html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  font-family: sans-serif;
}

#root {
  padding: 1em;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  height: 100%;

  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 0;
}

