.play-view {
  width: 100%;
  max-width: 15em;

  margin: 0 auto;
  margin-top: 2em;
}

/* TODO: Make this button float over */
/* TODO: Some way to see current player in floating box */
.play-view .actions {
  max-width: 15em;
  position: fixed;
  top: 1em;
  left: 0;
  right: 0;
  margin: auto;
}

.play-view .actions button {
  width: 100%;
  height: 2em;
  margin: 1em 0;
}

